<div class="col col-xs-12 col-sm-12 col-md-6 col-xl-7 history-col">
  <div class="card">
    <div class="card-block">
      <div class="title-block">
        <h4 class="title">Curs</h4>
      </div>
      <div class="row row-sm stats-container">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Valuta</th>
            <th>Curs</th>
            <th>Data</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>MDL</td>
            <td>1</td>
            <td>{{currency.date | myMoment:'YYYY-MM-DD'}}</td>
          </tr>
          <tr>
            <td>EUR</td>
            <td>{{eur | number:'1.2-3'}}</td>
            <td>{{currency.date | myMoment:'YYYY-MM-DD'}}</td>
          </tr>
          <tr>
            <td>USD</td>
            <td>{{dollar | number:'1.2-3'}}</td>
            <td>{{currency.date | myMoment:'YYYY-MM-DD'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
