<p class="text-xs-center">Înregistrare pentru acces</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}"
  >
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Introduceți un e-mail"
      formControlName="email"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('email').invalid && form.get('email').touched "
    >
      <span *ngIf="form.get('email')['errors']['required']">E-mailul trebuie completat. </span>
      <span *ngIf="form.get('email')['errors']['email']">Introduceți e-mailul corect. </span>
      <span *ngIf="form.get('email')['errors']['forbiddenEmail']">Email-ul este ocupat. </span>

    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}"
  >
    <label for="password">Parola</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Introduceți parola"
      formControlName="password"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('password').invalid && form.get('password').touched "
    >
      <span *ngIf="form.get('password')['errors']['required']">Parola trebuie completată. </span>
      <span *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
        Parola trebuie să fie mai mare
        {{form.get('password')['errors']['minlength']['requiredLength']}}
        simboluri. Acum
        {{form.get('password')['errors']['minlength']['actualLength']}}
      </span>
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('name').invalid && form.get('name').touched}"
  >
    <label for="name">Nume</label>
    <input
      type="text"
      class="form-control underlined"
      id="name"
      placeholder="Introduceți numele"
      formControlName="name"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('name').invalid && form.get('name').touched"
    >
      Numele trebuie completat.
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('agree').invalid && form.get('agree').touched}"
  >
    <label for="agree">
      <input
        class="checkbox"
        id="agree"
        type="checkbox"
        formControlName="agree"
      >
      <span>Sunt de acord cu regulile</span>
    </label>
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-block btn-primary"
      [disabled]="form.invalid"
    >
      Înregistrează-te!
    </button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Aveți deja un cont?
      <a routerLink="/login">
        Conectați-vă!
      </a>
    </p>
  </div>
</form>
